@import url('modal.css');

*
{
    box-sizing:border-box; 
    margin:0;
    padding:0;
    font-family:'Poppins', san-serif;
    scroll-behavior: smooth;
}



:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}


body {
    height: 100vh;
    line-height: 1.8; 
}

.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height); 
    background-color: #131313;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link,
.navbar-link {
    
    color: var(--navbar-text-color); 
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
}

.home-link:focus,
.home-link:hover {
    color: #008080;
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover {
    color: var(--navbar-text-color-focus);
    background-color: #ff8177;
}

.navbar-logo {
    background-color: #008080; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;

}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color); 
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}


.navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.4); 
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}


#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}




    /* Hero Section */

    .main
    {
        background-color: #131313;
    }

    .main__container
    {
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 99vh;
        background-color: #131313;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;    
    }
    /*4a4766*/
    .main__content h1
    {
        font-size: 4rem;
        background-color: #ff8177;
        background-image: linear-gradient(to top, #008080 0%, #b721ff 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent; 
    }

    .main__content h2
    {
        font-size: 4rem;
        background-color: #ff8177;
        background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent; 
    }

    .main__content p
    {
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
    }

    .main__btn
    {
        font-size: 1rem;
        background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
        padding: 14px 32px;
        border: none;
        border-radius: 4px;
        color: #fff;
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        outline: none;
    }

    .main__btn a
    {
        position: relative;
        z-index: 2;
        color: #fff;
        text-decoration: none;
    }

    .main__btn::after
    {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #008080;
        transition: all 0.35s;
        border-radius: 4px;
    }

    .main__btn:hover
    {
        color:#fff;
    }

    .main__btn:hover::after
    {
        width:100%;
    }

    .main__img--container
    {
        text-align: center;
    }

    #main__img
    {
        height: 80%;
        width: 80%;
    }

     /* About Section */
    .about
    {
        padding: 8rem calc((100vw - 1200px) /2); 
       background: linear-gradient(to top , #131313 50%, #008080 50%);
        

    }

    .about__container
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;

    }

    .about__img
    {
        width: 100%;
        height: 100%;
    }

    .topLine
    {
        color: #D2B48C;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .about__heading
    {
        margin-bottom: 1rem;
        font-size: clamp(2rem,6vw,3rem);
        color: #131313;
        
    }

    .about__bullets
    {
        list-style: none;
    }

    .about__bullet
    {
        margin-bottom: 1.5rem;
        font-size: clamp(1rem,5vw,1.2rem);
        font-weight: bold; 
        color: #fff;
    }
   
    .fa-star
    {
        margin-right: 0.5rem;
        color: #D2B48C;

    }

    .fa-graduation-cap
    {
        margin-right: 0.5rem;
        color: #D2B48C;
    }


    /* +++++++ skills section +++++*/
    .skills
    {
        background-color: #131313;
    }

    .skills__header
    {
        display: flex;
        text-align: center;
        color: #fff;
        margin: 3.5rem 0 0 35rem ;  
        position: absolute;      
    }

    .skills__header::after
    {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 100px;
        background-color: #008080;
        border-radius: 2px;
    }

    .skills__container
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        text-align: center;
        grid-gap: 1rem;
        padding: 1rem 80px;
        font-size: 1.2rem;
    }

    .skill__box
    {
        padding: 1rem; 
        color: #ddd;
        cursor: pointer;
        margin-top: 3rem; 
    }

    .skill__box:hover > .skill__title:after, .skill__box:hover > .skill__title:before
    {
        width: 35px;
    }

    .skill__box:hover .img
    {
        transform: translateY(-10px);
    }

    .skill__title
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        position: relative;
    }

    
    .skill__title:after
    {
        content: '';
        position: absolute;
        bottom: 0;
        right: 50%;
        width: 0;
        height: 4px;
        border-radius: 2px 0 0 2px;
        background-color: #008080;
        transition: .5s;
    }

    .skill__title:before
    {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 4px;
        border-radius: 0 2px 2px 0;
        background-color: #008080;
        transition: .5s;

    }


    .skill__title h3
    {
        color: #fff;
        margin-top: 0.5rem;
    }

    .img
    {
        width: 90px;
        height: 90px;
        position: relative;
        border-radius: 45px;
        display: flex;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        transition: .5s;
    }

    .img::after
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 90px;
        background: rgba(100, 100, 100, 0.5);
        border-radius: 45px 0 0 45px;
    }


    .skill__icon
    {
        width: 50px;
        z-index: 2;
    }

    .portfolio
    {
        background: #131313;
        color: #fff;
    }

    .portfolio__container
    {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 60px;
    }

    .portfolio__container h1
    {
        font-size: 110px;
        color: #fff;
        -webkit-text-fill-color: transparent;
        -webkit-text-fill-width: 2px;
        -webkit-text-stroke-color: #fff;
        margin-bottom: 32px;
    }

    .portfolio__main
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .portfolio__img
{
    border-radius: 6px; 
    height: 100%;
    width: 100%;
}

.portfolio__right
{
    padding:150px 100px 0 20px;
}

.portfolio__right h2
{
    
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; 
    margin-bottom: 40px;
    font-size:30px;
}

.portfolio__right p
{  
    color: turquoise;
    margin-bottom: 50px;
    line-height: 2.5;
}

.portfolio__right a
{
    color: #fff;
    text-decoration: none;
}

 div .portfolio__projects
 {
     vertical-align: top;
     display: inline-block;
     text-align: center;
     justify-content: center;
     width: 290px;
 }

.portfolio__projects img
{
    padding: 15px 14px; 
    width: 280px;
    height: 160px;
    border-radius: 15px; 

}

div .portfolio__projects p
{
display: block;
font-size:15px;
color: royalblue;
}

div .portfolio__projects a
{
    color: #fff;
    text-decoration: none;
    margin-left: 5px; 
}




/* Contact section */
.contact
{
    display: flex;
    align-items: center;
    background: #131313;
    padding: 100px 0;
}

.contact__bar
{
    background: teal;
    height: 80px;
    width: 68%;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact__bar img
{
    margin-right: 40px;
}

.contact__bar p
{
    margin-right: 40px;
    font-weight: 700;
}

.contact__bar span
{
    margin-right: 40px;
}

.contact h1
{
    margin-left: 100px;
    font-size: 40px;
    color: #fff;
}

/* +++++++ Footer ++++++++ */
.footer
{
    background: #131313;
    color: #fff;
}

.footer__container
{
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.footer__left
{
    display: flex;
    flex-direction: column;
}

.footer__left h2
{
    margin-bottom: 24px;
}

.footer__left p
{
    line-height: 2;
}

.footer__right
{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.footer__right a
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}



@media screen and (min-width: 700px) {
    .navbar-toggle {
        display: none;
    }

    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}



    /* Mobile Responsive */
    @media screen and (max-width:768px)
    {
        

    /* +++++++ Hero Section Responive ++++++++ */

        .main__container
        {
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-self: center;
            width: 100%;
            margin: 0 auto;
            height: 90vh;
        }

        .main__content
        {
            text-align: center;
            margin-bottom: 4rem;
        }

        .main__content h1
        {
            font-size: 2.5rem;
            margin-top: 4rem;
        }

        .main__content h2
        {
            font-size: 3rem;
        }

        .main__content p
        {
            margin-top: 1rem;
            font-size: 1.5rem;
        }

        /* +++++++ About Section Responive ++++++++ */
        
        .about__container
        {
            grid-template-columns: 1fr ;
        }
        

         /* +++++++ Skills Section Responive ++++++++ */

        .skills__header
        {
            /* margin-left: 10rem; */
        }


        .skills__container
        {
            grid-template-columns: 1fr;
        }


        div .portfolio__projects
        {
           margin-left: 100px;
            
        }


         /* +++++++ Contact Section Responive ++++++++ */
        .contact
        {
            flex-direction: column;
        }

        .contact__bar
        {
            width: 100%;
            justify-content: center;
        }

        .contact__bar .img
        {
            margin-left: 16px;
            margin-right: 16px;
        }

        .contact__bar p
        {
            margin-right: 16px;
        }

        .contact__bar span 
        {
            font-size: 16px;
        }

        .contact h1
        {
            margin-left: 0;
            margin-top: 32px;
            font-size: 32px;
        }
    }


    
    @media screen and (max-width:480px)
    {
       
        .main__content h1
        {
            font-size: 2rem;
            margin-top: 7rem;
        }

        .main__content h2
        {
            font-size: 2rem;
        }

        .main__content p
        {
            margin-top: 2rem;
            font-size: 1.5rem;
        }

        .main__btn
        {
            padding: 12px 36px;
            margin: 2.5rem 0;
        }
    }
    
    
    @media screen and (max-width:1000px)
    {
        .portfolio
        {
            padding: 30px;
        }

        .portfolio__container h1
        {
            font-size: 70px;
        }

        .portfolio__main
        {
            grid-template-columns: 1fr;
        }

        .portfolio__container
        {
            padding-left: 0px;
        }

        .portfolio__right
        {
            margin-bottom: 60px;
        }

        div .portfolio__projects
        {
            flex-direction: column;
         
        }

         .portfolio__projects img
        {

            margin-bottom: 5px;
        }

    /* +++++++ Footer Section Responive ++++++++ */

        .footer__container
    {
        padding: 60px 24px;
        grid-template-columns: 1fr 1fr;
    }

    .footer__right
    {
        flex-direction: column;
    }

    }



    @media screen and (max-width:468px)
{

/* +++++++ Portfolio Section Responive ++++++++ */

    .portfolio
    {
        padding:10px;
    }

    .portfolio__container h1
    {
        font-size: 40px;
    }

    /* +++++++ Footer Section Responive ++++++++ */

    .footer__right
    {
        padding: 0 16px;
    }

}



   